
/* Layout */

body {
    margin: 0;
    display: flex;
    font-family: sans-serif;
}

.sidebar {
    bottom: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
   
}
.simSettings{
    background-color: rgba(237, 237, 237,0.9);
    padding: 20px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 20vw;
}
.simSettings-close {
  
    display: none;
    width: 0px !important;

}

.simControl{
    margin-top: auto;
        padding: 20px;
        bottom: 0;
        
}

.range-deactive {
    display: none;
}

/* Range */


label {margin-top: 20px;}
.numLabel {
color: gray;
}

input[type=range]{
width: 100%;    
background: lightgray;
height: 28px;
appearance: none;
border-radius: 15px;
margin: 20px 0px 20px 0px;
padding: 0px 4px 0px 4px;
}

input[type=range]:hover
{
    cursor:ew-resize;
}
input[type='range']::-webkit-slider-thumb:hover{
     cursor:ew-resize;
     background-color: gray;
}
input[type=range]::-moz-range-thumb:hover {
    cursor:ew-resize;
    background-color: gray;
}


input[type='range']::-webkit-slider-thumb {
	appearance: none;
	  background: white;
	/* border: 2px solid blue; */
	width: 20px;
	height: 20px;
	border-radius: 0px;
	cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  background: white;
  border: 2px solid var(--me-highlight);
  width: 40px;
  height: 20px;
  border-radius: 15px;
  cursor: pointer;
}



/* Button Interactions */

button {
    padding: 8px 16px 8px 16px;
    background-color: lightgray;
    border: 0px solid white;
    border-radius: 24px;
}

.button-active {
    background-color: white;
    color: black;
}

button:not(.button-active):hover {
    background-color: gray;
    color: white;
}